.ps-custom-box-5{
 background-color: #f3f3ff;
 padding: 10px 20px;
 text-align: left;
 /* margin: 20px; */
 border-radius: 6px;
 border: solid 1px #dedffc;
}

.ps-custom-box-tending{
 background-color: #ffffff;
 padding: 10px;
 text-align: left;
 border-radius: 6px;
 margin: 2px 8px;
 width: 300px;
 border: solid 1px #C5C7F9;
 cursor: pointer;
}

.ps-custom-box-assist{
 background-color: #ffffff;
 padding: 10px 15px;
 text-align: left;
 border-radius: 6px;
 margin: 12px;
 border: solid 1px #DCDCDC;
}

.custom-zoomIn {
 transition: transform .3s; /* Animation */
 cursor: pointer;
}

.custom-zoomIn:hover {
 transition: transform .5s; /* Animation */
 transform: scale(1.08);
}

.red-color{
 color: red;
}